.reviews {
  padding: 37px 30px 51px;
  background-image: url("../img/index/zigzag-line-monile.svg");
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto;

  @include t {
    padding: 0 0 85px;
    background-size: 772px 17px;
  }

  @include d {
    width: 1050px;
    margin: 0 auto;
    padding: 22px 0 90px;
    background-size: 1052px 23px;
  }
}

.reviews__wrap {
  @include t {
    padding: 83px 50px 48px;
    position: relative;
  }

  @include d {
    padding: 79px 20px 96px 173px;
  }

  &::before {
    @include t {
      content: "";
      width: 50%;
      height: 100%;
      background-image: image-set(
        url("../../../img/index/review-bg-tablet.webp"),
        url("../../../img/index/review-bg-tablet.jpg")
      );
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: auto 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: image-set(
          url("../../../img/index/review-bg-tablet@2x.webp"),
          url("../../../img/index/review-bg-tablet@2x.jpg")
        );
      }
    }
  }
}

.reviews__title {
  max-width: 300px;
  margin: 0 0 15px;

  @include t {
    margin: 0 0 39px;
  }

  @include d {
    margin: 0 0 35px;
  }
}

.reviews__list {
  @include ul-null;
}

.reviews__user-feedback {
  display: none;
  margin-bottom: 29px;

  @include t {
    margin-bottom: 0;
  }

  &--active {
    display: block;
  }
}

.reviews__slider-butto-wrap {
  margin-bottom: 38px;
  border: 1px solid #ececec;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include t {
    width: 137px;
    border: none;
    position: absolute;
    bottom: 24px;
    right: 69px;
  }

  @include d {
    right: 19px;
    bottom: 73px;
  }
}

.reviews__link {
  @include t {
    min-width: unset;
    width: 175px;
    position: absolute;
    top: 79px;
    right: 50px;
  }

  @include d {
    right: 0;
  }
}
