.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 25;
}

.modal--close {
  display: none;
}

.modal__window {
  width: 100%;
  min-height: 300px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: #ffffff;

  @include t {
    width: 568px;
    margin: 0 auto;
  }
}
