.user-menu {
  @include ul-null;

  @include t {
    order: 1;
    grid-column: 2/3;
    justify-self: right;
    display: grid;
    grid-template-columns: 84px 1fr;
    gap: 0 31px;
    position: relative;
  }

  &::before,
  &::after {
    @include t {
      content: "";
      width: 100vw;
      position: absolute;
      right: -50px;
      bottom: 0;
    }

    @include d {
      width: 3000px;
      right: 50%;
      transform: translateX(38%);
    }
  }

  &::before {
    @include t {
      height: 100%;
      background-color: #ffffff;
    }
  }

  &::after {
    @include t {
      height: 1px;
      background-color: #ececec;
    }
  }

  @include d {
    order: initial;
  }
}

.user-menu__item {
  @include t {
    &:first-child {
      width: 84px;
      min-height: 88px;
      grid-column: 1/2;
      grid-row: 1/8;
    }

    &:first-child::before,
    &:first-child::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #ececec;
      position: absolute;
      top: 0;
    }

    &:first-child::before {
      left: 0;
    }

    &:first-child::after {
      right: 0;
    }
  }
}

.user-menu__link {
  text-decoration: none;
  color: inherit;
  position: relative;

  &::before {
    content: "";
    width: 22px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.3);
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    position: absolute;
  }

  &:hover::before {
    background-color: #63d1bb;
  }

  &:focus-visible::before {
    outline: none;
    background-color: #63d1bb;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
      background-color: #63d1bb;
    }
  }

  &:active::before {
    background-color: rgba(99, 209, 187, 0.3);
  }
}

.user-menu__link--search {
  @include t {
    width: 50px;
  }

  &::before {
    mask-image: url("../img/stack.svg#search");
    mask-size: 18px 18px;
    top: 6px;
    left: -46px;

    @include t {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.user-menu__link--cart {
  @include t {
    padding-left: 52px;
  }

  &::before {
    mask-image: url("../img/stack.svg#cart");
    mask-size: 21px 18px;
    top: 5px;
    left: -47px;

    @include t {
      left: 0;
    }
  }
}

.user-menu__link-text {
  @include t {
    display: none;
  }
}
