.second-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @include t {
    font-size: 43px;
    line-height: 50px;
  }

  @include d {
    font-size: 53px;
    line-height: 57px;
  }
}
